
<div class="hero-wrap hero-bread" style="background-image: url(/images/bg_6.jpg);">
    <div class="container">

        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">Đăng Nhập</h1>
            </div>
        </div>

        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link rad-border-top-left-right-35px active" id="v-pills-signin-tab" data-toggle="pill" href="#v-pills-signin" role="tab" aria-controls="v-pills-signin" aria-selected="true">Đăng nhập</a>
            <a class="nav-link rad-border-top-left-right-35px" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Đăng ký</a>
        </div>

        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-signin" role="tabpanel" aria-labelledby="v-pills-signin-tab">

                <form class="needs-validation" style="max-width: 40em; margin: auto" novalidate>
                    <div class="form-group">
                        <label for="validationCustomUsername">Tên đăng nhập</label>
                        <input type="text" class="form-control rad-border-15px" id="validationCustomUsername" placeholder="Nhập tên đăng nhập" value="" required>
                        <div class="valid-feedback">
                            Tên đăng nhập hợp lệ.
                        </div>
                        <div class="invalid-feedback">
                            Tên đăng nhập không hợp lệ.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Mật khẩu</label>
                        <input type="password" class="form-control rad-border-15px" id="exampleInputPassword1" placeholder="Nhập mật khẩu" required>
                        <div class="valid-feedback">
                            Mật khẩu hợp lệ.
                        </div>
                        <div class="invalid-feedback">
                            Mật khẩu không hợp lệ.
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Ghi nhớ đăng nhập</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                </form>
            </div>

            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile
                 -tab">
                <form class="needs-validation" style="max-width: 40em; margin: auto" novalidate>
                    <div class="form-group">
                        <label for="validationCustomName">Họ và tên</label>
                        <input type="text" class="form-control rad-border-15px" id="validationCustomName" placeholder="Nhập họ và tên" value="" required>
                        <div class="valid-feedback">
                            Họ và tên hợp lệ.
                        </div>
                        <div class="invalid-feedback">
                            Họ và tên không hợp lệ.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="validationCustomNumber">Số điện thoại</label>
                        <input type="text" class="form-control rad-border-15px" id="validationCustomNumber" placeholder="Nhập số điện thoại" value="" required>
                        <div class="valid-feedback">
                            Số điện thoại hợp lệ.
                        </div>
                        <div class="invalid-feedback">
                            Số điện thoại không hợp lệ.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="validationCustomMail">Email</label>
                        <input type="email" class="form-control rad-border-15px" id="validationCustomMail" placeholder="Nhập Email" value="" required>
                        <div class="valid-feedback">
                            Email hợp lệ.
                        </div>
                        <div class="invalid-feedback">
                            Email không hợp lệ.
                        </div>
                    </div>

                    <fieldset class="form-group">
                        <label for="validationCustomGender">Giới tính</label>
                        

                        <div class="row">

                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        Nam
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                        Nữ
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                                    <label class="form-check-label" for="gridRadios3">
                                        Khác
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group">
                        <label for="validationCustomUsername1">Tên đăng nhập</label>
                        <input type="text" class="form-control rad-border-15px" id="validationCustomUsername1" placeholder="Nhập tên đăng nhập" value="" required>
                        <div class="valid-feedback">
                            Tên đăng nhập hợp lệ.
                        </div>
                        <div class="invalid-feedback">
                            Tên đăng nhập không hợp lệ.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Mật khẩu</label>
                        <input type="text" class="form-control rad-border-15px" id="exampleInputPassword1" placeholder="Nhập mật khẩu" required>
                        <div class="valid-feedback">
                            Mật khẩu hợp lệ.
                        </div>
                        <div class="invalid-feedback">
                            Mật khẩu không hợp lệ.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword2">Xác nhận mật khẩu</label>
                        <input type="text" class="form-control rad-border-15px" id="exampleInputPassword2" placeholder="Nhập mật khẩu" required>
                        <div class="valid-feedback">
                            Mật khẩu trùng khớp.
                        </div>
                        <div class="invalid-feedback">
                            Mật khẩu không trùng khớp.
                        </div>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Ghi nhớ đăng nhập</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                </form>


            </div>
        </div>
    </div>
</div>