
<div class="hero-wrap hero-bread" style="background-image: url(/images/bg_6.jpg);">
    <div class="container">

        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Trang chủ ></a></span> <span>Trang cá nhân</span></p>
                
                <h1 class="mb-0 bread">About Us</h1>
            </div>
        </div>

        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-info-tab" data-toggle="pill" href="#v-pills-info" role="tab" aria-controls="v-pills-info" aria-selected="true">Thông tin cá nhân</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Thông tin đơn hàng</a>
            <a class="nav-link" id="v-pills-password-tab" data-toggle="pill" href="#v-pills-password" role="tab" aria-controls="v-pills-password" aria-selected="false">Đổi mật khẩu</a>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-info" role="tabpanel" aria-labelledby="v-pills-info-tab">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <div class="container-fluid center">
                                            <text>Tên đăng nhập:</text>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="container-fluid center" id="user_username">
                                            <text>Demo</text>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <div class="container-fluid center">
                                            <text>Tên khách hàng:</text>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="container-fluid center" id="user_username">
                                            <text>Nguyễn Văn A</text>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <div class="container-fluid center">
                                            <text>Email:</text>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="container-fluid center" id="user_username">
                                            <text>Demo</text>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <div class="container-fluid center">
                                            <text>SĐT:</text>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="container-fluid center" id="user_username">
                                            <text>0909123456</text>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">Demo1</div>
            <div class="tab-pane fade" id="v-pills-password" role="tabpanel" aria-labelledby="v-pills-password-tab">Demo2</div>
        </div>
    </div>
</div>